/* This file has been created by ERGOSIGN GmbH - All rights reserved - http://www.ergosign.de
// DO NOT ALTER OR REMOVE    THIS COPYRIGHT NOTICE OR THIS FILE HEADER.
// 
// This file and the code contained in it are subject to the agreed contractual terms and conditions,
// in particular with regard to resale and publication.
*/

/*  this is exclusively loaded for IE8 - by a conditional comment in the <head> */

.radio input[type="radio"] + span:before,
.radio-inline input[type="radio"] + span:before{
	background: transparent; 
	border: 0;
}

select.form-control {
    padding-top: 2px;
}

.picker {
    border:1px solid lightgray !important;
}

.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 4px;
    text-align: right;
}