<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

    <!-- Diese Konfiguration enthält allgemeine Beans, die in allen Spring-Kontexten benötigt werden. -->

    <!-- Aktiviere @Required Annotations. -->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <!-- Setzt die Default-Locale. -->
    <bean class="de.bund.bva.isyfact.common.web.locale.SetDefaultLocaleFactoryBean">
        <constructor-arg name="locale" value="de_DE"/>
    </bean>

    <!-- Diese Bean sorgt fuer die Platzhalter-Ersetzung in Spring-Konfigurationsdateien. Die Dependency auf den
        MessageSourceHolder sorgt dafür, dass der MessageSourceHolder vor dem PropertyPlaceHolderConfigurer initialisiert
        wird. Dadurch stehen die Nachrichten während der Initialisierung des Spring-Contextes bereit. -->
    <!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
    <!-- <property name="locations"> -->
    <!-- <list> -->
    <!-- <value>classpath:/config/jpa.properties</value> -->
    <!-- </list> -->
    <!-- </property> -->
    <!-- </bean> -->

    <!-- Diese Bean sorgt fuer die Message-ResourceBundle Bereitstellung, zugreifbar ueber Klasse SpringContextHolder. -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"
        lazy-init="false">
        <property name="basenames">
            <list>
                <value>resources/nachrichten/fehler</value>
                <value>resources/nachrichten/maskentexte</value>
                <value>resources/nachrichten/titles</value>
            </list>
        </property>
    </bean>

    <!--Speichert die Message-Source fuer statische Zugriffe auf Messages. -->
    <bean id="messageSourceHolder" class="de.bund.bva.isyfact.util.spring.MessageSourceHolder"/>
</beans>