<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>Isy-Webgui-Beispielseite</display-name>

    <!-- KONTEXTPARAMETER -->
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>isy-webgui</param-value>
    </context-param>
    <!-- Use JSF view templates saved as *.xhtml, for use with Facelets -->
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <!-- Enables special Facelets debug output during development -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <!-- Causes Facelets to refresh templates during development -->
    <context-param>
        <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>1</param-value>
    </context-param>
    <!-- Angabe des Pruefungsintervalls fuer Aenderungen an der Konfiguration Hier: jede Minute (60*100) -->
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>60000</param-value>
    </context-param>
    <!-- Die Gräße des Buffers für das Rendern der Antwort, bevor Teile davon an den Client zurückgesendet werden.
        Wichtig für Fehlerbehandlung (Fehler während des Renderns) -->
    <context-param>
        <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>202400</param-value>
    </context-param>
    <!-- Spring Root Application Context -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:resources/spring/application-web.xml</param-value>
    </context-param>
    <!-- Entfernt Kommentare -->
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- logback configuraton -->
    <context-param>
        <param-name>logbackConfigLocation</param-name>
        <param-value>classpath:/config/logback.xml</param-value>
    </context-param>

    <!-- LISTENER -->
    <listener>
        <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
    </listener>
<!--    <listener>-->
<!--        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
<!--    </listener>-->

    <!-- FILTER -->
    <!-- Request-Scoping -->
    <filter>
        <filter-name>RequestContextFilter</filter-name>
        <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
    </filter>
    <!-- Logging -->
    <filter>
        <filter-name>NDC Filter</filter-name>
        <filter-class>de.bund.bva.isyfact.aufrufkontext.http.HttpHeaderNestedDiagnosticContextFilter</filter-class>
    </filter>
    <!-- Security -->
    <!--filter>
        <filter-name>SpringSecurityFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>springSecurityFilterChain</param-value>
        </init-param>
    </filter-->
    <!-- Filter damit Umlaute richtig dargestellt werden. -->
    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!-- Filter zur Initialisierung der Applikation (JavaScript De-/Aktiviert, ...). -->
    <filter>
        <filter-name>applicationInitialisierungFilter</filter-name>
        <filter-class>de.bund.bva.isyfact.common.web.servlet.filter.ApplicationInitialisierungFilter</filter-class>

        <!-- Optionaler Parameter: Der Parameter "urlsToSkip" dient zur Aufnahme von Url-Pfaden, relativ zum ApplicationContext-Pfad,
            die von der Filterung ausgenommen werden. Mehrere Url-Pfade sind kommasepariert anzugeben. Es ist pro
            Url ein fuehrendes
            "/" anzugeben. -->
        <init-param>
            <param-name>urlsToSkip</param-name>
            <param-value>/app/resources</param-value>
        </init-param>
        <init-param>
            <param-name>ajaxRedirectUrl</param-name>
            <param-value>/</param-value>
        </init-param>

        <!-- Plicht-Parameter: Der Parameter "urlApplicationInitialisierung" enthaelt die Url zur Application-Initialisierungsseite.
            Es ist ein fuehrendes "/" anzugeben. -->
        <init-param>
            <param-name>urlApplicationInitialisierung</param-name>
            <param-value>/app/common/init/applicationInitialisierung.xhtml</param-value>
        </init-param>
    </filter>

    <!-- SERVLETS -->
    <!-- Just here so the JSF implementation can initialize, *not* used at runtime -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <multipart-config>
            <max-file-size>52428800</max-file-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Spring MVC Servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:resources/spring/gui.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
      <servlet-name>listpickerprovider</servlet-name>
      <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
      <load-on-startup>3</load-on-startup>
    </servlet>
    

    <!-- Encoding -->
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Request-Scoping -->
    <filter-mapping>
        <filter-name>RequestContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Logging -->
    <filter-mapping>
        <filter-name>NDC Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Security -->
    <!--filter-mapping>
        <filter-name>SpringSecurityFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping-->
    <!-- Filter zur Initialisierung der Applikation (JavaScript De-/Aktiviert, ...). -->
    <filter-mapping>
        <filter-name>applicationInitialisierungFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>

    <!-- SERVLET-MAPPINGS -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spring MVC Servlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listpickerprovider</servlet-name>
        <url-pattern>/app/listpicker/*</url-pattern>
    </servlet-mapping>
    

    <!-- DEFAULT-PAGE -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
